<form>
    <label for="game_name">Game name:</label><br>
    <input type="text" id="game_name" name="game_name"><br>
    <label for="game_location">Game location:</label><br>
    <input type="text" id="game_location" name="game_location">



    <fieldset>
        <legend>White:</legend>
        First name: <input type="text"><br>
        Last name: <input type="text"><br>
        Rank: <input type="text">
    </fieldset>
    <br>
    <fieldset>
        <legend>Black:</legend>
        First name: <input type="text"><br>
        Last name: <input type="text"><br>
        Rank: <input type="text">
    </fieldset>

    <label for="size-select">Size:</label>
    <select name="size" id="size-select">
    <option value="">--Please choose an option--</option>
    <option value="9">9x9</option>
    <option value="13">13x13</option>
    <option value="19">19x19</option>
    </select><br>

    <label for="rules-select">Rules:</label>
    <select name="rules" id="rules-select">
    <option value="">--Please choose an option--</option>
    <option value="chinese">Chinese</option>
    <option value="japanese">Japanese</option>
    </select><br>


    <label for="handicap-select">Handicap:</label>
    <select name="handicap" id="handicap-select">
    <option value="">--Please choose an option--</option>
    <option value="0">Equality</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    </select><br>


    <label for="komi">Komi:</label><br>
    <input type="text" id="komi" name="komi">


  </form> 